<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <app-async-btn
        label="Rafraîchir"
        [icon]="faRotateRight"
        [action]="refresh()"
      >
      </app-async-btn>
      <a class="button" routerLink="add" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <app-async-btn
        label="Supprimer"
        [icon]="faTrashCan"
        [action]="remove()"
        [hidden]="selectedArticles.size === 0"
      >
      </app-async-btn>
    </nav>
    <table>
      <thead>
        <tr>
          <th i18n class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        @for (article of articleService.articles$ | async; track article.id) {
          <tr
            (click)="select($event, article)"
            [class.selected]="selectedArticles.has(article)"
          >
            <td class="name">{{ article.name | ellipsis: 30 }}</td>
            <td class="price">
              {{ article.price | currency }}
            </td>
            <td class="qty">{{ article.qty }}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan="3">
              <div class="empty">Aucun article</div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</main>
