<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button (click)="refresh()" title="Rafraîchir">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <a class="button" routerLink="add" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <button
        [hidden]="selectedArticles.size === 0"
        (click)="$event.stopPropagation(); remove()"
        title="Supprimer"
      >
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let article of articleService.articles"
          (click)="select($event, article)"
          [class.selected]="selectedArticles.has(article)"
        >
          <td class="name">{{ article.name }}</td>
          <td class="price">{{ article.price }} €</td>
          <td class="qty">{{ article.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
