<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button (click)="refresh()" title="Rafraîchir" [disabled]="isRefreshing">
        <fa-icon [icon]="faRotateRight" [spin]="isRefreshing"></fa-icon>
      </button>
      <a class="button" routerLink="add" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <button
        [hidden]="selectedArticles.size === 0"
        (click)="$event.stopPropagation(); remove()"
        title="Supprimer"
        [disabled]="isRemoving"
      >
        <fa-icon
          [icon]="isRemoving ? faCircleNotch : faTrashCan"
          [spin]="isRemoving"
        ></fa-icon>
      </button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let article of articleService.articles"
          (click)="select($event, article)"
          [class.selected]="selectedArticles.has(article)"
        >
          <td class="name">{{ article.name | ellipsis : 7 }}</td>
          <td class="price">
            {{ article.price | currency }}
          </td>
          <td class="qty">{{ article.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
