@import "src/scss/variables.scss";

form {
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  width: 100%;
  max-width: 25em;
  margin: 0 auto;

  label {
    display: flex;
    flex-flow: column;
  }

  button {
    margin-top: 3em;
  }

  input {
    padding: 0.5em 1em;
    border: 0.1em solid #aaa;
    border-radius: $default-border-radius;
  }
}
