<main>
  <h1>Ajout d'un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <span>Nom</span>
      <input
        type="text"
        formControlName="name"
        appAutofocus
        [selectAll]="true"
        (empty)="doSomething($event)"
      />
    </label>
    <label>
      <span>Prix</span>
      <input type="number" step="0.01" formControlName="price" />
    </label>
    <label>
      <span>Quantité</span>
      <input type="number" step="1" formControlName="qty" />
    </label>
    <div class="error">
      {{ errorMsg }}
    </div>
    <button class="primary" type="submit" [disabled]="isAdding">
      <fa-icon
        [icon]="isAdding ? faCircleNotch : faPlus"
        [spin]="isAdding"
      ></fa-icon>
      <span>Ajouter</span>
    </button>
  </form>
  {{ f.value | json }}
</main>
