<main>
  <h1>Mentions Légales</h1>
  <div>
    @for (n of array(); track n) {
      <span>{{ n }}&nbsp;</span>
    } @empty {
      <span>Aucun element</span>
    }
  </div>
  <button (click)="addRandom()">Ajoute random</button>
  <div>Total : {{ total() }}</div>
  <div>Max : {{ max() }}</div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
    assumenda provident quo sapiente, nesciunt quaerat eaque adipisci non fuga
    doloribus quidem neque, natus et? Repudiandae doloribus magnam soluta
    distinctio.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus,
    incidunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione excepturi
    ut voluptatem expedita, quod cum sit quis veniam nostrum provident quidem
    qui libero, impedit soluta id reprehenderit. Beatae esse sit sed unde quod
    accusantium, velit veritatis dolore, dolorem est, expedita tempora. Facere
    consequatur nesciunt fugiat. Obcaecati vel blanditiis veniam magnam ipsum,
    sunt id aliquam natus architecto dolorum totam deleniti, doloribus minus ex,
    quis neque fuga! Enim placeat inventore eos. Sed in tempore quod dolorum,
    ipsum dolorem? Placeat ipsam enim suscipit dolores a laudantium accusantium
    consequatur veniam libero atque illo, accusamus, nam omnis minus odio
    consectetur hic et excepturi culpa aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione excepturi
    ut voluptatem expedita, quod cum sit quis veniam nostrum provident quidem
    qui libero, impedit soluta id reprehenderit. Beatae esse sit sed unde quod
    accusantium, velit veritatis dolore, dolorem est, expedita tempora. Facere
    consequatur nesciunt fugiat. Obcaecati vel blanditiis veniam magnam ipsum,
    sunt id aliquam natus architecto dolorum totam deleniti, doloribus minus ex,
    quis neque fuga! Enim placeat inventore eos. Sed in tempore quod dolorum,
    ipsum dolorem? Placeat ipsam enim suscipit dolores a laudantium accusantium
    consequatur veniam libero atque illo, accusamus, nam omnis minus odio
    consectetur hic et excepturi culpa aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione excepturi
    ut voluptatem expedita, quod cum sit quis veniam nostrum provident quidem
    qui libero, impedit soluta id reprehenderit. Beatae esse sit sed unde quod
    accusantium, velit veritatis dolore, dolorem est, expedita tempora. Facere
    consequatur nesciunt fugiat. Obcaecati vel blanditiis veniam magnam ipsum,
    sunt id aliquam natus architecto dolorum totam deleniti, doloribus minus ex,
    quis neque fuga! Enim placeat inventore eos. Sed in tempore quod dolorum,
    ipsum dolorem? Placeat ipsam enim suscipit dolores a laudantium accusantium
    consequatur veniam libero atque illo, accusamus, nam omnis minus odio
    consectetur hic et excepturi culpa aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione excepturi
    ut voluptatem expedita, quod cum sit quis veniam nostrum provident quidem
    qui libero, impedit soluta id reprehenderit. Beatae esse sit sed unde quod
    accusantium, velit veritatis dolore, dolorem est, expedita tempora. Facere
    consequatur nesciunt fugiat. Obcaecati vel blanditiis veniam magnam ipsum,
    sunt id aliquam natus architecto dolorum totam deleniti, doloribus minus ex,
    quis neque fuga! Enim placeat inventore eos. Sed in tempore quod dolorum,
    ipsum dolorem? Placeat ipsam enim suscipit dolores a laudantium accusantium
    consequatur veniam libero atque illo, accusamus, nam omnis minus odio
    consectetur hic et excepturi culpa aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione excepturi
    ut voluptatem expedita, quod cum sit quis veniam nostrum provident quidem
    qui libero, impedit soluta id reprehenderit. Beatae esse sit sed unde quod
    accusantium, velit veritatis dolore, dolorem est, expedita tempora. Facere
    consequatur nesciunt fugiat. Obcaecati vel blanditiis veniam magnam ipsum,
    sunt id aliquam natus architecto dolorum totam deleniti, doloribus minus ex,
    quis neque fuga! Enim placeat inventore eos. Sed in tempore quod dolorum,
    ipsum dolorem? Placeat ipsam enim suscipit dolores a laudantium accusantium
    consequatur veniam libero atque illo, accusamus, nam omnis minus odio
    consectetur hic et excepturi culpa aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione excepturi
    ut voluptatem expedita, quod cum sit quis veniam nostrum provident quidem
    qui libero, impedit soluta id reprehenderit. Beatae esse sit sed unde quod
    accusantium, velit veritatis dolore, dolorem est, expedita tempora. Facere
    consequatur nesciunt fugiat. Obcaecati vel blanditiis veniam magnam ipsum,
    sunt id aliquam natus architecto dolorum totam deleniti, doloribus minus ex,
    quis neque fuga! Enim placeat inventore eos. Sed in tempore quod dolorum,
    ipsum dolorem? Placeat ipsam enim suscipit dolores a laudantium accusantium
    consequatur veniam libero atque illo, accusamus, nam omnis minus odio
    consectetur hic et excepturi culpa aut.
  </p>
</main>
